<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="rounded-circle mb-5" src="assets/img/portfolio/rick-morty-portal.png" alt="">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading mb-0">WUBBA LUBBA DUB-DUB</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>

    </div>
    <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0 ">By : Rick Sanchez</p>
  </div>
</header>
