
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Create-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="mb-4"> Roiland y Dan Harmon.</h4>
        <p class="pre-wrap lead mb-0"> Rick y Mortynació como una parodia de Volver al futuro
          con el Doctor Brown y Marty McFly en situaciones perturbadoras y un tanto "ofensivas".</p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"
                                               href="https://www.netflix.com/title/80014749" target="_blank"><i
        class="fas fa-film"></i></a><a class="btn btn-outline-light btn-social mx-1"
                                                    href="https://www.youtube.com/channel/UCel52OboABOS8kqa4PW37FA" target="_blank"><i
        class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
