<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading text-secondary mb-0 d-inline-block">CHARACTERS</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"></div>
      <div class="divider-custom-line"></div>
    </div>


    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center" infinite-scroll (scrolled)="onScrollD()">

      <!-- Portfolio Items-->
      <div class="col-md-6 col-lg-4 mb-5" *ngFor="let character of characters">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal12">



          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <div class="img-fluid">
            <a [routerLink]="['/characters-detail', character.id]">
              <img class="card-img-top"
                   [src]="character.image"
                   [alt]="character.name"
              />
            </a>
          </div>
          <div class="card-img">
            <div class="card-header">
              <a [routerLink]="['./characters-detail',character.id]">
                <h2>{{character.name}}</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoBtn"
    class="btn btn-secondary btn-lg active"
    (click)="onScrollUp()">
    UuuP </button>

</section>


<!-- Portfolio Modal-->
<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog"
     aria-labelledby="#portfolioModal0Label" aria-hidden="true">

  <!--   INFO DEL PERSONAJE    -->

  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fas fa-times"></i></span></button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Portfolio Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary mb-0">Info Characters</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <a href="" id="apiCard" class="btn-primary"></a>
              <!-- Portfolio Modal - Image-->
              <img class="img-fluid rounded mb-5" src="assets/img/portfolio/rick-morty-portal.png" alt="Log cartoon"/>
              <!-- Portfolio Modal - Text-->

              <p class="mb-5"> ALL INFO CHARACTER </p>
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i
                class="fas fa-times fa-fw"></i>Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a class="js-scroll-trigger d-block text-center text-white rounded"
     href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
